.home-box {
    &__inner {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        overflow: hidden;
        &__top-bar {
            padding: 10px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            @media #{$small-mobile} {
                flex-wrap: wrap;
            }
            
            &__title {
                h3 {
                    color: #fff;
                    text-wrap: nowrap;
                }
                @media #{$small-mobile} {
                    width: 100%;
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            &__brands {
                width: 100%;
                max-height: 150px;
                overflow-y: scroll;
                padding-inline: 10px;
                @media #{$small-mobile} {
                    max-height: unset;
                    overflow-y: unset;
                    overflow-x: scroll;
                }
                .box-one,.box-two {
                    display: flex;
                    justify-content: end;
                    flex-wrap: wrap;
                    gap: 10px;
                    @media #{$small-mobile} {
                        justify-content: start;
                        flex-wrap: nowrap;
                        overflow-x: scroll;
                    }
                    li {
                        label {
                            padding: 10px;
                            background-color: #fff;
                            color: #000;
                            cursor: pointer;
                            text-wrap: nowrap;
                            @media #{$small-mobile} {
                                padding: 6px;
                                font-size: 14px;
                            }
                        }
                        input[type="radio"]:checked + label {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
        }
        &__main-content {
            width: 100%;
            min-height: 1080px;
            display: flex;
            position: relative;
            @media #{$small-mobile} {
                min-height: 540px;
            }
            &__side-bar {
                width: 20%;
                @media #{$small-mobile} {
                    width: 220px;
                    position: absolute;
                    top: 0;
                    left: -240px;
                    bottom: 0;
                    z-index: 999;
                    height: 100%;
                    background: #fff;
                    transition: all ease-in-out 0.4s;
                }
                &--active {
                    left: 0px;
                    transition: all ease-in-out 0.4s;
                }
                .box-one-cats,.box-two-cats {
                    li {
                        label {
                            background-color: #fff;
                            color: #000;
                            padding: 10px;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            @media #{$small-mobile} {
                                font-size: 12px;
                                gap: 8px;
                            }
                            &:hover {
                                background-color: $primary-color;
                                color: #fff;
                            }
                            img {
                                min-width: 20px;
                                max-width: 20px;
                                min-height: 20px;
                                max-height: 20px;
                            }
                        }
                        input[type="radio"]:checked + label {
                            background-color: $primary-color;
                            color: #fff;
                        }
                    }
                }
            }
            &__products {
                width: 80%;
                background-color: #f1f1f1;
                position: relative;
                @media #{$small-mobile} {
                    width: 100%;
                }
                .loading {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.6);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}