.login {
    width: 100%;
    max-width: 480px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    form {
        width: 100%;
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid $border-color;
        }
    }
}