.modal {
    &-content {
        position: relative;
        .modal-close {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            align-items: center;
            background: #000;
            border-radius: 999px;
            overflow: hidden;
            transition: all 0.4s;
            &:hover {
                .modal-close{
                    &-text {
                        margin-right: 0px;
                    }
                    &-icon {
                        transform: rotate(-90deg);
                    }
                }
            }
            &-text {
                color: #fff;
                padding-left: 10px;
                padding-right: 4px;
                margin-right: -54px;
                transition: all 0.4s;
            }
            &-icon {
                width: 30px;
                height: 30px;
                background: #000;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 999px;
                transition: all 0.4s;
                i {
                    color: #fff;
                    font-size: 16px;
                }
            }
        }
    }
}
