.top-bar {
    background-color: #000;
    padding: 20px 0;
    .logo {
        width: 270px;
        height: auto;
    }
    .search {
        width: 660px;
        position: relative;
        span {
            @media #{$small-mobile} {
                font-size: 12px;
            }
        }
        @media #{$small-mobile} {
            width: 100%;
        }
        input {
            padding: 10px;
            width: 100%;
            border: 0;
            background: transparent;
            @media #{$small-mobile} {
                padding: 6px 4px;   
            }
        }
        button {
            border: 0;
            padding: 13px 20px;
            @media #{$small-mobile} {
                padding: 9px 12px;
            }
        }
        &-preview {
            width: 100%;
            position: absolute;
            background-color: #fff;
            z-index: 999;
            padding: 10px;

            &-list {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-height: 600px;
                overflow-y: scroll;
                &-item {
                    display: flex;
                    gap: 10px;
                    img {
                        min-width: 70px;
                        height: 70px;
                    }
                    &:hover {
                        background-color: #f2f2f2;
                    }
                }
            }
        }
    }
}
.navbar {
    &-nav {
        .nav-item {
            .nav-link {
                color: #000;
                font-size: 16px;
                padding: 14px 20px !important;
                &:hover {
                    color: $primary-color !important;
                }
                &--category {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    cursor: pointer;
                    background-color: $primary-color;
                    color: #fff !important;
                    position: relative;
                    width: 290px;
                    font-size: 18px;
                    .categories {
                        position: absolute;
                        top: 70px;
                        left: 0;
                        width: 100%;
                        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                        opacity: 0;
                        z-index: -1;
                        transition: all 0.4s;
                        .main-cat {
                            .categories__sub {
                                position: absolute;
                                top: 0;
                                left: 290px;
                                top: 20px;
                                width: 270px;
                                background-color: #fff;
                                opacity: 0;
                                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                transition: all 0.4s;
                            }
                            &:hover {
                                .categories__sub {
                                    top: 0;
                                    opacity: 1;
                                    transition: all 0.4s;
                                    z-index: 999;
                                }
                            }
                        }
                    }
                    i {
                        font-size: 20px;
                    }
                    &:hover {
                        transition: all 0.4s;
                        color: #fff !important;
                        .categories {
                            top: 50px;
                            opacity: 1;
                            z-index: 99;
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }
    }
}


.megaMenu {
    .megaMenuItems {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: -99;
        transition: all 0.4s;
        opacity: 0;
        padding-top: 30px;
        .megaMenuContent {
            padding: 30px;
            background-color: #fff;
            height: auto;
            min-height: 400px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }

    &:hover {
        transition: all 0.4s;
        .megaMenuItems {
            opacity: 1;
            z-index: 9999;
            top: 30px;
            transition: all 0.4s;
        }
    }
}






.text_1 {
    transition: all ease-in-out 0.5s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left:10px;
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    animation: text1;
    overflow: hidden;
    white-space: nowrap;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
    z-index: 1;
    &::after, {
        content: "|";
        position: absolute;
        right: 0;
        animation: caret infinite;
        animation-duration: 1s;
        animation-timing-function: steps(1, end);
    }
}


@keyframes text1 {
    0%, 50%, 100% {
        width: 60px;
    }
    10%, 40% {
        width: 365px;
    }
}
@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.search {

    transition: all ease-in-out 0.5s;
    &:hover {
        transition: all ease-in-out 0.5s;
        .text_1 {
            transition: all ease-in-out 0.5s;
            display: none !important;
        }
    }
    input {
        &:focus {
            z-index: 99;
            .text_1 {
                display: none;
            }
        }
    }
}


//Footer Style
.footer {
    &-top {
        background-color: #282D33;
        padding-block: 20px;
        position: relative;
        &::after {
            content: '';
            top: 0;
            left: 0;
            width: 40%;
            height: 100%;
            position: absolute;
            background-color: $primary-color;
            clip-path: polygon(0 0, 100% 0%, 88% 100%, 0% 100%);
            @media #{$small_mobile} {
                width: 60%;
            }
        }
        input {
            background: transparent;
            padding: 8px;
            border: 1px solid #888;
            color: #fff;
            width: 300px;
            font-size: 16px;
            @media #{$small_mobile} {
                &::placeholder {
                    color: #fff;
                }
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            background-color: $primary-color;
            margin-left: -40px;
            i {
                font-size: 20px;
                color: #fff;
            }
        }
    }
    &-body {
        padding: 40px 0;
        background-image: url('@/assets/images/footer-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #000;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.6);
        }
    }
    &-bottom  {

    }
}
