.layout {
    background-color: $bg-color;
}

// Side Bar

.side-bar {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);
    background-color: #fff;
    &-header {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 20px;
        padding-bottom: 5px;
        svg {
            color: $text-color;
        }
        .logo {
            width: 100px;
            height: auto;
        }
    }

    &-body {
        margin: 20px;
        &-items {
            &-item {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 15px;
                color: $text-color;
                font-size: 18px;
                transition: all ease-in-out 0.3s;
                i {
                    font-size: 20px;
                    transition: all ease-in-out 0.3s;
                }
                svg {
                    width: 20px;
                    height: 20px;
                    transition: all ease-in-out 0.3s;
                }
                span {
                    color: $text-color;
                    transition: all ease-in-out 0.3s;
                }
                &:hover {
                    transform: translateX(8px);
                    span {
                        color: $primary-color;
                    }
                    i {
                        color: $secondary-color;
                    }
                    svg {
                        color: $secondary-color;
                    }
                }
                &--active {
                    span {
                        color: $primary-color;
                    }
                    i {
                        color: $secondary-color;
                    }
                    svg {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}



// Header
.app-content {
    margin-left: 280px;
    padding: 10px 30px;
    main {
        padding-top: 30px;
    }
}
