*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: #000;
	background-color: $bg-color !important;
    font-family: "Open Sans", sans-serif !important;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans", sans-serif !important;
	margin: 0 !important;
	text-transform: capitalize;
	color: #000;


}
a {
	font-weight: 500;
	text-decoration: none;
	color: #000;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
}

ul {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

button {
	font-size: 16px;
	border: none;
    font-family: "Open Sans", sans-serif !important;
	font-weight: 600;
	outline: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

i {
	line-height: 0;
	margin: 0;
	padding: 0;
}

a {
	color: #000;
	display: inline-block;
    font-family: "Open Sans", sans-serif !important;
}
h3 {
    font-family: "Open Sans", sans-serif !important;
	font-size: 22px;
}
h4 {
    font-family: "Open Sans", sans-serif !important;
	font-size: 18px;
}
p {
	color: #000;
	font-size: 16px;
	font-weight: 400;
    line-height: 24px;
}
span {
    line-height: 24px;
}

address {
    line-height: 20px;
}
i {

	font-size: 18px;
}

.container {
    max-width: 1380px !important;
}

/* ------------------------------------
	Button
------------------------------------ */
.button-primary {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	padding: 10px 24px;
	color: #FEFEFF;
	background: $primary-color;
	display: inline-block;
	transition: all ease-in-out 0.4s;
	border: 1px solid $primary-color;
	&--outline {
		background: transparent;
		border: 1px solid $primary-color;
		color: $primary-color;
	}
}

.overlay {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.2);
	}
}
.primary-color {
	color: $primary-color;
}
.secondary-color {
	color: $secondary-color;
}
.bt {
	&-primary-bg {
		background-color: $primary-color;
	}
	&-secondary-bg {
		background-color: $secondary-color;
	}
	&-text-color{
		color: $text-color;
	}
	&-border-color {
		border: 1px solid $border-color;
	}
	&-sm-rounded {
		border-radius: 4px;
	}
	&-md-rounded {
		border-radius: 8px;
	}
	&-lg-rounded {
		border-radius: 10px;
	}
    &-widget-bg-1 {
        background: #67D3C7;
    }
    &-widget-bg-2 {
        background: #7947F7;
    }
    &-widget-bg-3 {
        background: #312782;
    }
    &-widget-bg-4 {
        background: #D74825;
    }
	&-hover-primary {
		&:hover {
			color: $primary-color;
			transition: all ease-in-out 0.4s;
		}
	}
    &-hover-secondary {
        &:hover {
            color: $secondary-color;
            transition: all ease-in-out 0.4s;
        }
    }
	&-underline {
		text-decoration: underline;
	}
}

.vh-lg-60 {
    @media #{$desktop} {
        height: 60vh !important;
    }
}
.vh-lg-70 {
    @media #{$desktop} {
        height: 70vh !important;
    }
}
.vh-lg-75 {
    @media #{$desktop} {
        height: 75vh !important;
    }
}
.margin-block-auto {
	margin-block: auto;
}

.table {
	td {
		color: $text-color !important;
		font-size: 16px;
		font-weight: 500;
		vertical-align: middle;
	}
	.edit,.delete,.detail {
		width: 40px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
		i {
			color: #fff;
			font-size: 18px;
		}
	}
	.detail {
		background: $primary-color;
	}
	.edit {
		background: $primary-color;
	}
	.delete {
		background: $secondary-color;
	}
}

.secondary-top-bar {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 5px;
		top: 0;
		left: 0;
		right: 0;
		background: $secondary-color;
	}
}

.iso-icon-box {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: $text-color;
}


.property-table {
	&::-webkit-scrollbar {
		width: 100%;
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: $text-color;
		-webkit-border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: $secondary-color;
	}
}




/* ------------------------------------
	Pagination
------------------------------------ */

.pagination {

	.page-item:first-child .page-link {
		margin: 0;
	}
	.page-item:not(:first-child) .page-link {
		margin: 0;
	}
	.page-item .page-link {
		border-radius: 4px;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
		cursor: pointer;
		border: none;
		font-weight: 500;
		width: 34px;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all ease-in-out 0.4s;
		background: transparent;
		&:hover {
			background-color: $secondary-color;
			transition: all ease-in-out 0.4s;
			box-shadow: unset;
		}
	}
	.active {
		.page-link {
			background: $secondary-color;
			box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
		}
	}
}



/* ------------------------------------
    Apex Chart
------------------------------------ */
.apexcharts-menu {
    width: max-content !important;
    background: $primary-color !important;
    border: none !important;
    top: 30px !important;
    &-item {
        color: #fff !important;
        transition: all ease-in-out 0.4s;
        &:hover {
            background: $secondary-color !important;
        }
    }
    &-icon {
        svg {
            fill: $primary-color !important;
            width: 30px;
            height: 30px;
        }
    }
}

/* ------------------------------------
    Iso Table
------------------------------------ */
.iso-table {
    thead {
        background: $primary-color;
        tr {
            th {
                padding: 10px;
                color: #fff;
            }
        }
    }
    tbody {
        tr {
            td {
                padding: 10px;
            }
        }
    }
}

/* ------------------------------------
   Item edit and delete
------------------------------------ */

.actions {
    i {
        font-size: 14px;
    }

    .edit, .delete {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 12px;
        gap: 8px;
        font-size: 14px;
        border-radius: 30px;
    }

    .edit {
        background: rgba(0, 255, 0, 0.1);
        color: #04452f;

        i {
            color: #04452f;
        }
    }

    .delete {
        background: rgba(255, 0, 0, 0.2);
        color: rgb(255, 0, 0);

        i {
            color: rgb(255, 0, 0);
        }
    }
}

.bt-border {
    border: 1px solid $primary-color !important;
}
.hover-text-primary {
    &:hover {
        color: $primary-color !important;
    }
}
.transition {
    transition: all ease-in-out 0.3s !important;
}



.category-image {
    display: flex;
    gap: 30px;
    align-items: center;
    input {
        display: none;
    }
    label {
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px dashed $secondary-color;
        cursor: pointer;
        color: $text-color;
        i {
            font-size: 20px;
        }
    }
    &-preview {
        img {
            width: 100px;
            height: 70px;
            border-radius: 6px;
        }
    }
}

.product-detail-tab{
    .nav-pills .nav-link {
        border: none;
        font-weight: 500;
        font-size: 18px;
        position: relative;
		color: #000;
        overflow: hidden;
        transition: all ease-in-out 0.4s;
		background: transparent !important;
		border-bottom: 2px solid transparent;
		border-radius: unset;
        @media #{$small_mobile} {
            font-size: 14px;
            padding: 6px;
        }
    }
    .nav-pills .nav-link.active {
		color: #000;
        border-color: $primary-color;
        &::before {
            width: 100%;
        }
    }
}


.product-create-tab	{
	.nav-pills .nav-link {
		border: none;
		font-weight: 500;
		font-size: 16px;
		position: relative;
		color: #000;
		overflow: hidden;
		transition: all ease-in-out 0.4s;
		background: transparent;
		border-radius: unset;
		text-align: left;
	}
	.nav-pills .nav-link.active {
		color: #fff;
		background-color: $primary-color;
		&::before {
			width: 100%;
		}
	}
}


.status {
    &-active {
        padding: 4px 8px;
        border-radius: 999px;
        color: $primary-color;
        background: rgba(49, 39, 130, 0.2);
        font-weight: 500;
    }
    &-deactivated {
        padding: 4px 8px;
        border-radius: 999px;
        color: $secondary-color;
        font-weight: 500;
        background: rgba(215,72,37, 0.2);
    }
}


.u-svg {
    svg {
        width: 20px;
        height: 20px;
        color: #000;
    }
}




.blur-overlay {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        z-index: 999;
    }
}

.coming-text {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    color: $primary-color;
    font-weight: 600;
    font-size: 38px;
}



.socials {
	display: flex;
	align-items: center;
    justify-content: center;
	gap: 15px;
	li  {
		a {
			width: 36px;
			height: 36px;
			border-radius: 999px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $primary-color;
			svg {
				width: 18px;
				height: 18px;
				color: #fff;
				fill: #fff;
			}
		}
        .facebook {
            &:hover {
                background-color: #0A63F7;
                transition: all ease-in-out 0.4s;
            }
        }
        .youtube {
            &:hover {
                background-color: #F60E1B;
                transition: all ease-in-out 0.4s;
            }
        }
        .instagram {
            &:hover {
                background-color: #C90B95;
                transition: all ease-in-out 0.4s;
            }
        }
        .whatsapp {
            &:hover {
                background-color: #089A11;
                transition: all ease-in-out 0.4s;
            }
        }
        .linkedin {
            &:hover {
                background-color: #0A63F7;
                transition: all ease-in-out 0.4s;
            }
        }
	}
}

.primary-bg {
	background-color: $primary-color !important;
}
.primary-bg-soft {
    background-color: rgba(229, 1, 1, 0.6) !important;
}

.carousel__viewport {
    padding: 10px;
}
.vh {
    &-60 {
        height: 60vh !important;
    }
    &-70 {
        height: 70vh !important;
    }
    &-80 {
        height: 80vh !important;
    }
}
.w-60 {
    width: 60% !important;
}
.w-lg-60 {
    @media #{$desktop} {
        width: 60% !important;
    }
}

.w-lg-80 {
    @media #{$desktop} {
        width: 80% !important;
    }
}


.list-group-item.active {
    border-color: transparent !important;
}



.note-editor {
	.note-editable {
		min-height: 300px;
	}
}




:root{
    --vs-dropdown-option--active-bg: unset !important;
}

.vs__search {
    &::placeholder {
        font-size: 14px;
        font-weight: normal;
    }
}
.vs__dropdown-menu {
    border-radius: 4px !important;
    border: none !important;
    top: 40px !important;
}

.vs__dropdown-option {
    &:hover {
        background: #f2f2f2 !important;
        color: #000 !important;
    }
}
.vs__dropdown-option--highlight {
background-color: unset !important;
}
.vs__dropdown-toggle {
border: 0 !important;
}
.vs__selected {

background-color: $primary-color !important;
color: #fff !important;
}

.vs__actions {
svg {
    fill: $primary-color !important;
}
}
.vs__deselect {
svg {
    fill: #fff !important;
}
}
//.vs__open-indicator {
//display: none !important;
//}


.w-80 {
width: 80% !important;
}


.questionField {
width: 70%;
height: 45px;
padding: 5px;

&--active {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
}


.bt-border-dark {
border: 0.5px solid black !important;
}
.bt-border-dark-1 {
border: 1px solid black !important;
}
.bt-border-bottom-dark {
border-bottom: 0.5px solid black !important;
}

.bg-black {
background-color: #000 !important;
}


.bt-title {
h2 {
    text-align: center;
    text-transform: uppercase !important;
    font-size: 26px !important;
    font-weight: 700 !important;
    letter-spacing: 0.6px;
    @media #{$small-mobile} {
        font-size: 18px !important;
    }
}
span {
    width: 5px;
    height: 5px;
    border-radius: 999px;
}
}

.carousel__viewport {
margin-left: -20px !important;
}


.swiper {
padding-block: 30px !important;

.swiper-button-prev,.swiper-button-next {
    color: #fff !important;
    width: 20px !important;
}

&-pagination {
    bottom: 0px !important;
}

.swiper-pagination-bullet-active {
    background-color: $primary-color !important;
}
}

.swiper-slide {
figure {
    width: 100% !important;
    img {
        width: 100% !important;
    }
    .iiZ__zoom-img {
        width: 100%;
    }
}
}

.swiper-slide-thumb-active {
border:  2px solid $primary-color;
}




.bottom-line {
position: relative;
&::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    width: 70%;
    height: 2px;
    border-radius: 4px;
    background-color: #fff;
}
&::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 40%;
    height: 2px;
    border-radius: 4px;
    background-color: $primary-color;
}
}


.swiper-button-prev {
    &::after {
        @media #{$small_mobile} {
            font-size: 20px !important;
        }
    }
}
.swiper-button-next {
    &::after {
        @media #{$small_mobile} {
            font-size: 20px !important;
        }
    }
}

.links-wrapper {
    transition: all ease-in-out 0.4s;
    width: 290px;
    position: relative;
    z-index: 999;
    
    @media #{$small_mobile} {
        position: absolute;
        width: 250px;
        background-color: #fff;
        height: 100%;
        top: 0;
        left: -280px;
        z-index: 999;
        overflow-y: scroll;
    }
    &--toggled {
        transition: all ease-in-out 0.4s;
        left: 0px;
    }
    &--box {
        width: unset;
    }
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667% !important;
    }
}

.all-products {
    width: 78%;
    min-height: 100vh;
    @media #{$small-mobile} {
        width: 100%;
    }
}

.index {
    .swiper-wrapper {
        @media #{$desktop} {
            // justify-content: center !important;
        }
    }
}


.note-group-select-from-files {
    display: none !important;
}



.footer-text {
    color: #fff !important;
}

.category-banner {
    border-radius: 10px;
    overflow: hidden;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 150px;
    background-image: url("/public/banner.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: right, left;
    color: white;
    // img {
    //     width: 100%;
    //     height: 100%;
    // }
}



.footer-hover {
    position: relative;
    transition: all ease-in-out 0.4s;
    span {
        transition: all ease-in-out 0.4s;
    }
    &::before {
        content: '';
        position: absolute;
        left: 20%;
        right: 0;
        bottom: -10px;
        width: 40%;
        height: 1px;
        border-radius: 4px;
        background-color: $primary-color;
        transition: all ease-in-out 0.4s;
        opacity: 0;
    }
    &:hover {
        span {
            color: $primary-color !important;
            transition: all ease-in-out 0.4s;
        }
        &::before {
            bottom: 0;
            transition: all ease-in-out 0.4s;
            opacity: 1;
        }
    }
}


.primary-hover-color {
    &:hover {
        color: $primary-color !important;
    }
}


.editor_content {
    p {
        line-height: 24px !important;
    }
    li {
        line-height: 24px !important;
    }
}


img{
    pointer-events: none !important;
}

.header-height {
    height: 500px !important;
    @media #{$small-mobile}{
        height: 220px !important;
    }
}


.marquee {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 10s linear infinite running;
  }
  
  .marquee-content:hover {
    animation-play-state: paused;
  }
  
  .marquee-tag {
    width: 200px;
    margin: 0 0.5em;
    padding: 0.5em;
    
  }
  
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }


  .slider {
	  display: flex;
	  align-items: center;
	  &-item {

	  }
  }

.vue3-marquee.horizontal>.marquee{
	gap: 14px !important;
}

.editor_content {
	ul {
		padding: 20px !important;
		list-style: disc !important;
	}
}

//slider
.slider {
	width: 100%;
	height: var(--height);
	.list {
		display: flex;
		width: 100%;
		min-width: calc(var(--width) * var(--quantity));
		position: relative;
		.item {
			width: var(--width);
			height: var(--height);
			position: absolute;
			left: 100%;
			animation: autoRun 10s linear infinite;
		}
	}
}

@keyframes autoRun {
	from{
		left: 100%;
	}to{
		 left: calc(var(--width) * -1);
 	}
}