@import url('bootstrap-select.min.css');
@import url('theme.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url('feather/feather.css');
@import url('/resources/js/assets/scss/app.scss');