/**
===========================
Table of Contents

01/ Variables

02/ Mixins

03/ Fonts

04/ Common

05/ Layout

06/ Login

07/ Settings

08/ Product Detail

09/ Modal

10/ Multiple Image Uploader  Component name - FileUpload

11/ Property

12/ Dashboard Summary

13/ User Card

14/ Info Alert
============================ **/

/*------------------------------------
	01/ Variables
------------------------------------*/
@import "abstracts/variables";

/*------------------------------------
	02/ Mixins
------------------------------------*/
@import "abstracts/mixins";

/*------------------------------------
	03/ Fonts
------------------------------------*/
@import "base/fonts";

/*------------------------------------
	04/ Common
------------------------------------*/
@import "base/common";


/*------------------------------------
	05/ Layout
------------------------------------*/
@import "layout/layout";
@import "layout/app-layout";

/*------------------------------------
	06/ Login
------------------------------------*/
@import "components/login";

/*------------------------------------
	07/ Settings
------------------------------------*/
@import "components/settings";


/*------------------------------------
	09/ Modal
------------------------------------*/
@import "components/modal";

/*------------------------------------------------------------
	10/ Multiple Image Uploader  Component name - FileUpload
--------------------------------------------------------------*/
@import "components/file-upload";


/*------------------------------------------------------------
	12/ Dashboard Summary
--------------------------------------------------------------*/
@import "components/dashboard-summary";

/*------------------------------------------------------------
	13/ User card
--------------------------------------------------------------*/
@import "components/user-card";


/*------------------------------------------------------------
	14/ Info Alert
--------------------------------------------------------------*/
@import "components/info-alert";


@import "pages/index";
@import "components/product-card";
@import "components/home-box";
@import "components/pagination";
